body {
  /* font-family: sans-serif; */
  margin: 0;
  padding: 0;
  background: white;
}

/* Section layout */
.comparison-section {
  /* padding: 80px 20px; */
  max-width: 1200px;
  margin: auto;
}


@media (min-width: 300px) {
  .comparison-section {
    margin-top: 0rem;
    padding-top: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}

@media (min-width: 550px) {
  .comparison-section {
    margin-top: 0rem;
    padding-top: 2.5rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 740px) {
  .comparison-section {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 765px) {
  .comparison-section {
    margin-top: 0rem;
    padding-top: 7rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }
}

@media (min-width: 800px) {
  .comparison-section {
    padding-left: 2.6rem;
    padding-right: 2.8rem;
  }
}

@media (min-width: 965px) {
  .comparison-section {
    padding-left: 2.9rem;
    padding-right: 2.9rem;
  }
}


@media (min-width: 1100px) {
   .comparison-section {
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }
}

@media (min-width: 1190px) {
   .comparison-section {
    padding-left: 3.35rem;
    padding-right: 3.35rem;
  }
}

/* Header */
.comparison-header {
  justify-self: center;
  text-align: center;
  margin-bottom: 60px;
}

.badge {
  display: inline-block;
  padding: 6px 14px;
  background: #ff5c35;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.comparison-title {
  margin-top: 0px;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
}

.comparison-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  /* line-height: 0rem; */
  font-weight: 500;
  max-width: 900px;
}

@media (min-width: 300px) {
  .comparison-title {
    font-size: 1.2rem;
    text-align: left;
    max-width: 290px;
  }
}

@media (min-width: 340px) {
  .comparison-title {
    font-size: 1.3rem;
    text-align: left;
    max-width: 320px;
  }
}

@media (min-width: 370px) {
  .comparison-title {
    font-size: 1.45rem;
    text-align: left;
    max-width: 350px;
  }
}

@media (min-width: 400px) {
  .comparison-title {
    font-size: 1.55rem;
    text-align: left;
    max-width: 350px;
  }
}

@media (min-width: 430px) {
  .comparison-title {
    font-size: 1.65rem;
    text-align: left;
    max-width: 400px;
  }
}

@media (min-width: 470px) {
  .comparison-title {
    font-size: 1.85rem;
    text-align: left;
    max-width: 440px;
  }
}

@media (min-width: 500px) {
  .comparison-title {
    font-size: 1.95rem;
    text-align: left;
    max-width: 450px;
  }
}

@media (min-width: 525px) {
  .comparison-title {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (min-width: 550px) {
  .comparison-title {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (min-width: 613px) {
  .comparison-title {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 620px) {
  .comparison-title {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 650px) {
  .comparison-title {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 670px) {
  .comparison-title {
    font-size: 1.9rem;
    text-align: center;
  }
}

@media (min-width: 700px) {
  .comparison-title {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 719px) {
  .comparison-title {
    font-size: 2.1rem;
    text-align: center;
    max-width: 800px;
  }
}

@media (min-width: 834px) {
  .comparison-title {
    font-size: 2.3rem;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .comparison-title {
    font-size: 2.8rem;
    text-align: center;
    max-width: 800px;
  }
}

.comparison-title span {
  color: #111;
}

/* Comparison wrapper */
.comparison-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  /* border: 1px solid #000; */
  max-width: 900px;
}

@media (max-width: 668px) {
  .comparison-wrapper {
    align-items: center;
  }
}

@media (min-width: 900px) {
  .comparison-wrapper {
    align-self: center;
  }
}

@media (min-width: 668px) {
  .comparison-wrapper {
    flex-direction: row;
  }
}
/* 
@media (min-width: 300px) {
  .comparison-wrapper {
    margin-top: 1rem;
    margin-left: 0.6rem;
    margin-right: -0.5rem;
  }
}

@media (min-width: 550px) {
  .comparison-wrapper {
    margin-top: 0rem;

    margin-left: 0.85rem;
    margin-right: 0.85rem;
  }
} */

/* @media (min-width: 740px) {
  .comparison-wrapper {
    margin-top: 0rem;

    margin-left: 0.85rem;
    margin-right: 0.85rem;
  }
} */

/* @media (min-width: 765px) {
  .comparison-wrapper {
    margin-top: 0rem;

    margin-left: 1.45rem;
    margin-right: 1.45rem;
  }
} */

/* @media (min-width: 800px) {
  .comparison-wrapper {
    margin-left: 1.35rem;
    margin-right: 1.35rem;
  }
} */

/* @media (min-width: 900px) {
  .comparison-wrapper {
    margin-left: 1.35rem;
    margin-right: 1.35rem;
   
  }
} */

@media (min-width: 1000px) {
  .comparison-wrapper {
    /* margin-left: 1.35rem; */
    /* margin-right: 1.35rem; */
    margin-left: auto;
    margin-right: auto;
  }
}

/* Boxes */
.comparison-box {
  width: 100%;
  padding: 40px 50px;
}

.comparison-box h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
}

/* Others */
.left1 {
  background: #f5f7f9;
  color: #0f0f0f;
}

.left1 ul li {
  border-bottom: 1px solid #ddd;
}

/* We */
.right1 {
  position: relative;
  background: #0a0a0a;
  color: #fffef5;
}

.right1 ul li {
  border-bottom: 1px solid #333;
}

/* List items */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  text-align: center;
  padding: 12px 0;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

ul li:last-child {
  border-bottom: none;
}
