body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
}

/* Section */
.faq-section {
  overflow: hidden;
  position: relative;
  /* padding: 1rem 6rem; */
  /* max-width: 900px; */
  margin: auto;
}

@media (min-width: 300px) {
  .faq-section {
    margin-top: 0rem;
    padding-top: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}

@media (min-width: 550px) {
  .faq-section {
    margin-top: 0rem;
    padding-top: 2.5rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 740px) {
  .faq-section {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 765px) {
  .faq-section {
    margin-top: 0rem;
    padding-top: 10rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }
}

@media (min-width: 800px) {
  .faq-section {
    padding-left: 2.6rem;
    padding-right: 2.8rem;
  }
}

@media (min-width: 800px) {
  .faq-section {
    padding-left: 2.6rem;
    padding-right: 2.8rem;
    padding-bottom: 4.5rem;
  }
}

@media (min-width: 900px) {
  .faq-list {
    margin-left: auto;
    margin-right: auto;
  }
}
/* Background blur */
.faq-blur {
  position: absolute;
  top: 50%;
  right: -120px;
  width: 380px;
  height: 380px;
  background: rgba(216, 180, 254, 0.3);
  filter: blur(90px);
  border-radius: 50%;
  z-index: -1;
}

/* Header */
.faq-header {
  text-align: center;
  margin-bottom: 60px;
  text-align: left;
}

@media (min-width: 525px) {
  .faq-header {
    text-align: center;
    margin-bottom: 60px;
    text-align: center;
  }
}

.badge {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 6px 16px;
  background: #f5f7f9;
  color: #0f0f0f;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 400;
}

/* .faq-header h2 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
} */

.faq-header h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  /* line-height: 0rem; */
  font-weight: 500;
  justify-self: center;
  padding-top: 0;
  margin-top: 0;
}

@media (min-width: 300px) {
  .faq-header h2 {
    justify-self: start;
    font-size: 1.2rem;
    text-align: left;
    max-width: 290px;
  }
}

@media (min-width: 340px) {
  .faq-header h2 {
    font-size: 1.3rem;
    text-align: left;
    max-width: 320px;
  }
}

@media (min-width: 370px) {
  .faq-header h2 {
    font-size: 1.45rem;
    text-align: left;
    max-width: 350px;
  }
}

@media (min-width: 400px) {
  .faq-header h2 {
    font-size: 1.55rem;
    text-align: left;
    max-width: 350px;
  }
}

@media (min-width: 430px) {
  .faq-header h2 {
    font-size: 1.65rem;
    text-align: left;
    max-width: 400px;
  }
}

@media (min-width: 470px) {
  .faq-header h2 {
    font-size: 1.85rem;
    text-align: left;
    max-width: 440px;
  }
}

@media (min-width: 500px) {
  .faq-header h2 {
    font-size: 1.95rem;
    text-align: left;
    max-width: 450px;
  }
}

@media (min-width: 525px) {
  .faq-header h2 {
    font-size: 1.5rem;
    text-align: center;
    justify-self: center;
  }
}

@media (min-width: 550px) {
  .faq-header h2 {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (min-width: 613px) {
  .faq-header h2 {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 620px) {
  .faq-header h2 {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 650px) {
  .faq-header h2 {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 670px) {
  .faq-header h2 {
    font-size: 1.9rem;
    text-align: center;
  }
}

@media (min-width: 700px) {
  .faq-header h2 {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 719px) {
  .faq-header h2 {
    font-size: 2.1rem;
    text-align: center;
    max-width: 800px;
  }
}

@media (min-width: 834px) {
  .faq-header h2 {
    font-size: 2.3rem;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .faq-header h2 {
    font-size: 2.8rem;
    text-align: center;
    max-width: 1000px;
  }
}

/* FAQ Items */
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 900px;
}

.faq-item {
  border-radius: 20px;
  background: #f5f7f9;
  overflow: hidden;
  transition: background 0.3s ease;
}

.faq-item:hover {
  background: #f0f0f0;
}

.faq-item.open {
  background: #f5f7f9;
}

/* Button */
.faq-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 28px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  align-items: center;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  padding-right: 20px;
}

/* Icons (Plus / Minus) */
.icon {
  width: 26px;
  height: 26px;
  stroke: #555;
}

/* Answer container */
.faq-answer-wrapper {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.35s ease;
}

.faq-item.open .faq-answer-wrapper {
  max-height: 300px;
  opacity: 1;
}

/* Answer text */
.faq-answer {
  /* padding: 0 28px 24px 28px; */
  padding: 1.8rem;
  color: #666;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.6;
}

.plus-icon {
  display: block;
}
.minus-icon {
  display: none;
}

.faq-item.open .plus-icon {
  display: none;
}
.faq-item.open .minus-icon {
  display: block;
}
