.gallery-section {
  padding-left: clamp(2rem, 1.2rem + 2.7vw, 4.3rem);
  padding-right: clamp(2rem, 1.2rem + 2.7vw, 4.3rem);
  /* background-color: dodgerblue; */
}

.gallery-container {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 2rem;
}

.gallery-section div {
  /* background-color: #f1f1f1; */
  /* color:#000; */
  flex-shrink: 0;
  will-change: width;
  height: 40vw;
  margin: 2px;
  padding: 3px;
  text-align: center;
  font-size: 30px;
}

.gallery-section div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.gallery-section div video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.img-center {
  width: 30vw;
  overflow: hidden;
}

.img-left {
  width: 30vw;
}

.img-right {
  width: 30vw;
}

/* .gallery-section :nth-child(1) {

  flex-grow: 1;
}

.gallery-section :nth-child(2) {

  flex-grow: 1;
}

.gallery-section :nth-child(3) {

  flex-grow: 1;
} */

@media (max-width: 550px) {
  .gallery-section {
    justify-items: center;
    flex-direction: column;
    /* padding-left: 1rem; */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .gallery-section div {
    /* background-color: #f1f1f1; */
    /* color:#000; */
    width: 100%;
    height: 80vw;
  }
}

@media (max-width: 768px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
  }

  .img-center {
    width: 90%;
  }

  .img-left {
    display: none;
  }

  .img-right {
    display: none;
  }
}
