/* Global Reset and Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
}

.service-card .head {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.service-card .head {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #0f172a;
  transition: transform 0.3s;
}

@media (min-width: 800px) {
  .service-card .head {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .service-card .head {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
  }
}

@media (min-width: 1100px) {
  .service-card .head {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .service-card .head {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
  }
}

.service-card .para {
  font-family: 'Poppins', sans-serif;
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

@media (min-width: 300px) {
  .service-card .para {
    max-width: 87%;
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 470px) {
  .service-card .para {
    max-width: 87%;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 525px) {
  .service-card .para {
    max-width: 87%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 550px) {
  .service-card .para {
    max-width: 82%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 613px) {
  .service-card .para {
    max-width: 81%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 620px) {
  .service-card .para {
    max-width: 76%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 650px) {
  .service-card .para {
    max-width: 74%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 670px) {
  .service-card .para {
    max-width: 71%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 700px) {
  .service-card .para {
    max-width: 68%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 719px) {
  .service-card .para {
    max-width: 61%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 800px) {
  .service-card .para {
    max-width: 90%;
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 834px) {
  .service-card .para {
    max-width: 90%;
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 906px) {
  .service-card .para {
    max-width: 90%;
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 950px) {
  .service-card .para {
    max-width: 90%;
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 1000px) {
  .service-card .para {
    max-width: 90%;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

@media (min-width: 1024px) {
  .service-card .para {
    max-width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

/* TAGS */
.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.tag {
  /* background: white; */
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 0.8rem;
}

@media (min-width: 300px) {
  .tag {
    max-width: 87%;
    font-size: 0.6rem;
    font-weight: 500;
  }
}

@media (min-width: 470px) {
  .tag {
    max-width: 87%;
    font-size: 0.65rem;
    font-weight: 500;
  }
}

@media (min-width: 525px) {
  .tag {
    max-width: 87%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 550px) {
  .tag {
    max-width: 82%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 613px) {
  .tag {
    max-width: 81%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 620px) {
  .tag {
    max-width: 76%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 650px) {
  .tag {
    max-width: 74%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 670px) {
  .tag {
    max-width: 71%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 700px) {
  .tag {
    max-width: 68%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 719px) {
  .tag {
    max-width: 61%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 800px) {
  .tag {
    max-width: 90%;
    font-size: 0.6rem;
    font-weight: 500;
  }
}

@media (min-width: 834px) {
  .tag {
    max-width: 90%;
    font-size: 0.6rem;
    font-weight: 500;
  }
}

@media (min-width: 906px) {
  .tag {
    max-width: 90%;
    font-size: 0.6rem;
    font-weight: 500;
  }
}

@media (min-width: 950px) {
  .tag {
    max-width: 90%;
    font-size: 0.6rem;
    font-weight: 500;
  }
}

@media (min-width: 1000px) {
  .tag {
    max-width: 90%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .tag {
    max-width: 100%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.details-div {
  /* width: 80%; */
  border-radius: 20px;
  background-color: white;
}
/* BUTTON */
.details-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
  background: none;
  border: none;
}

.circle {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 18px;
}

.services-try {
  /* max-width: 80vw; */
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

@media (min-width: 300px) {
  .services-try {
    margin-top: 0rem;
    padding-top: 1rem;
    padding-left: 1.45rem;
    padding-right: 1.45rem;
  }
}

@media (min-width: 550px) {
  .services-try {
    margin-top: 0rem;
    padding-top: 2.5rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 740px) {
  .services-try {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 765px) {
  .services-try {
    margin-top: 0rem;
    padding-top: 3rem;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }
}

@media (min-width: 800px) {
  .services-try {
    padding-left: 2.6rem;
    padding-right: 2.8rem;
  }
}

@media (min-width: 965px) {
  .services-try {
    padding-left: 2.9rem;
    padding-right: 2.9rem;
  }
}

@media (min-width: 1100px) {
  .services-try {
    padding-left: 3.1rem;
    padding-right: 3.1rem;
  }
}

@media (min-width: 1190px) {
  .services-try {
    padding-left: 3.3rem;
    padding-right: 3.3rem;
  }
}

/* 
@media (min-width: 300px) {
  .services-try {

    padding-left: 2.1rem;
    padding-right: 1.1rem;
  }
}

@media (min-width: 400px) {
  .services-try {
   
    padding-left: 2.1rem;
    padding-right: 1.2rem;
  }
}

@media (min-width: 500px) {
  .services-try {
   
    padding-left: 2.1rem;
    padding-right: 1.2rem;
  }
}

@media (min-width: 544px) {
  .services-try {
   
    padding-left: 2.2rem;
    padding-right: 1.4rem;
  }
}

@media (min-width: 600px) {
  .services-try {
   
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }
} */

/* view-container: Horizontal Stack */
.view-container {
  padding-top: 2rem;
  /* max-width: 1400px; */
  /* margin: auto; */
  /* padding: 80px 20px; */
  /* max-width: 1300px; */
  /* margin: auto; */
  position: relative;
  display: flex;
  flex-direction: row; /* Direction: Horizontal */
  justify-content: center; /* Distribute: Center */
  align-items: flex-start; /* Align: Top */
  gap: 30px; /* Gap: 30 */
  /* max-width: 1200px; */
  /* Max Width: 1200 */
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 50px 20px; */
}

/* Sticky Sidebar */
.sticky-sidebar {
  position: sticky;
  top: 100px; /* Top: 100 */
  z-index: 1; /* Z Index: 1 */
  width: 100%;
  max-width: 350px; /* Max Width: 350 */
  display: none;
  flex-direction: column; /* Direction: Vertical */
  gap: 10px;
}

@media (min-width: 1000px) {
  .sticky-sidebar {
    display: flex;
    width: 45%;
  }
}

/* Sidebar Titles */
.sidebar-service-title {
  text-decoration: none;
  color: #333;
  padding: 10px;
  background: white;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-weight: 500;
}

/* Active Variant for Sidebar Link */

.sidebar-service-title::before {
  content: '⯈';

  left: 0;
  color: #ff7e46;

  width: 0%;
  opacity: 0;
  transform: translateX(-1rem);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar-service-title.active::before {
  width: 100%;
  opacity: 1;
  transform: translateX(0);
  margin-right: 0.5rem;
}

.sidebar-service-title.active {
  background-color: #f5f7f9;
  color: rgb(0, 0, 0);
}

/* Services Main Stack */
.services {
  display: flex;
  flex-direction: column; /* Direction: Vertical */
  gap: 20px; /* Gap: 20 */
  width: 100%;
}

/* Service Card */
.service-card {
  position: relative;
  z-index: 2; /* Z Index: 2 */
  background: #f5f7f9;
  /* padding: 0px 40px; */
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  box-sizing: border-box;
  scroll-margin-top: 100px; /* Offset Y: 100 */
  /* min-height: 400px; */
  /* height: 60vh; */
  border-radius: 28px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
}

/* .service-card:nth-child(1) { */
/* color: ; */
/* margin-top: 50px; */
/* } */

.blank {
  height: 100vh;
  width: 100vw;
}

/* view Section */

.view-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.view-item {
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  transition: background 0.3s ease;
}

.view-item:hover {
  background: #fefefe;
}

.view-item.open {
  background: #fff;
  /* color: white; */
  /* text-decoration-color: white; */
}

/* Button */
.view-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 28px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  align-items: center;
}

.view-question {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  padding-right: 20px;
}

@media (min-width: 300px) {
  .view-question {
    max-width: 87%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 470px) {
  .view-question {
    max-width: 87%;
    font-size: 0.75rem;
    font-weight: 500;
  }
}

@media (min-width: 525px) {
  .view-question {
    max-width: 87%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (min-width: 550px) {
  .view-question {
    max-width: 82%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (min-width: 613px) {
  .view-question {
    max-width: 81%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (min-width: 620px) {
  .view-question {
    max-width: 76%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (min-width: 650px) {
  .view-question {
    max-width: 74%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (min-width: 670px) {
  .view-question {
    max-width: 71%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (min-width: 700px) {
  .view-question {
    max-width: 68%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (min-width: 719px) {
  .view-question {
    max-width: 61%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (min-width: 800px) {
  .view-question {
    max-width: 90%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 834px) {
  .view-question {
    max-width: 90%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 906px) {
  .view-question {
    max-width: 90%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 950px) {
  .view-question {
    max-width: 90%;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

@media (min-width: 1000px) {
  .view-question {
    max-width: 90%;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  .view-question {
    max-width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

/* Icons (Plus / Minus) */
.icon {
  width: 26px;
  height: 26px;
  stroke: #555;
}

/* Answer view-container */
.view-answer-wrapper {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.35s ease;
}

.view-item.open .view-answer-wrapper {
  max-height: 300px;
  opacity: 1;
}

/* Answer text */
.view-answer {
  padding: 1.8rem;
  color: #666;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.6;
}

.plus-icon {
  display: block;
}
.minus-icon {
  display: none;
}

.view-item.open .plus-icon {
  display: none;
}
.view-item.open .minus-icon {
  display: block;
}
/* Default state (Closed) */
.view-item .content {
  display: none;
  /* or use height: 0; overflow: hidden; for animations */
}

/* Active state (Open) */
.view-item .open .content {
  display: block;
}
